:root {
  --color-top: #de7af5;
  --color-input: #edb4fa;
  --color-sidebar: #f6e6fa;
  --color-slight-grey: #f6f4f7;
  --color-button-normal-priority: #b5f6a2;
  --color-button-high-priority: #f78d8d;
}

@font-face {
  font-family: Roboto;
  src: url('./font/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
}

body,
html {
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
}

input,
body,
textarea {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Header */

#header {
  grid-area: header;
  background-color: var(--color-top);
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'left mid right';
  padding: 0 30px;
}

#header>div.left {
  grid-area: left;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

#header>div.mid {
  grid-area: mid;
}

#header>div.right {
  grid-area: right;
}

img.nav-icon {
  filter: invert();
  cursor: pointer;
  height: 65px;
}

#search {
  background-color: var(--color-input);
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  height: 30px;
  color: white;
}

#search::placeholder {
  color: white;
}

#header>div.mid {
  display: grid;
  align-items: center;
  justify-content: center;
}

a.nav {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

a.nav:link,
a.nav:visited {
  color: white;
}

#header>div.right {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: end;
}

/* Sidebar */

#sidebar {
  grid-area: sidebar;
  background-color: var(--color-sidebar);
  width: min(100%, 250px);
}


/* Hiding menu */
#sidebar.hidden {
  width: 50px;
}

#sidebar.hidden span {
  display: none;
}

#sidebar.hidden ul {
  margin: 16px 0;
}

#sidebar.hidden div.sidebar-headline {
  margin: 0 0 0 10px;
}

#sidebar.hidden h3 {
  display: none;
}

#sidebar.hidden img.sidebar-plusproject-icon {
  display: none;
}

div.sidebar-headline {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  margin: 0 0 0 40px;
}

div.sidebar>h3 {
  margin: 0;
  cursor: pointer;
}

img.sidebar-icon {
  height: 30px;
  cursor: pointer;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  display: grid;
  margin-left: 40px;
}

#sidebar ul.hidden {
  display: none;
}

li.sidebar-item {
  list-style: none;
  padding: 15px 10px;
  margin: 1px 5px 1px 0;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 5px;
}

li.sidebar-item:hover,
li.sidebar-item.active,
img.sidebar-plusproject-icon:hover {
  cursor: pointer;
  background-color: var(--color-input);
  background-clip: padding-box;
  border-radius: 5px;
}

/* Content */

#content {
  grid-area: content;
  padding: 0 10vw;
}

#div-new-task {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px
}

#new-task-title {
  grid-column: 1 / span 4;
}

#new-task-description {
  grid-column: 1 / span 4;
}


#div-new-task input,
#div-new-task textarea,
#div-new-task select,
#div-new-task button {
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  height: 35px;
}

#div-new-task input,
#div-new-task textarea,
#div-new-task select {
  background-color: var(--color-slight-grey);
}


#new-task-priority {
  background-color: var(--color-button-normal-priority);
}

#new-task-priority.top {
  background-color: var(--color-button-high-priority);
}

#new-task-button {
  background-color: var(--color-input);
}


#div-new-task .hidden {
  display: none;
}

input.new-task.empty,
select.new-task.empty {
  color: grey;
}